{{!-- 
/*
 * Copyright 2018 Uncharted Software Inc.
 */
 --}}

<div class="uncharted-inline-cards-view">
    <div class="cards-container">
        <div class="responsive-padding"></div>
    </div>
</div>