@import url("https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css");

$thumbnail-height: 300px;
$thumbnail-card-shadow: -1px 0 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 2px 0 4px rgba(0, 0, 0, 0.24);
$thumbnail-flipping-animation-duration: 0.3s;

@import "../lib/@uncharted/cards/src/main.scss";

.visual .uncharted-thumbnails-style {
  a {
    text-decoration: none;
    color: #2C83C0;
  }

  padding-left: 0;
  padding-right: 0;
}

.uncharted-thumbnails-header-image {
  overflow: hidden
}

.uncharted-thumbnails-thumbnail .card {
  position: relative;
}

.visual-container {
  height: 100%;
  width: 100%;

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .flip-panel {
    position: absolute;
    height: 22px;
    top: 0;
    width: 100%;
  }

  /* The switch - the box around the slider */
  .switch {
    border: none;
    cursor: pointer;
    display: none;
    margin: 0 auto 0 auto;
    width: 64px;
    z-index: 1;
  }

  /* Hide default HTML checkbox */
  .switchInput {display:none;}

  /* The slider */
  .flip-button {
    display: inline;
    position: relative;
    cursor: pointer;
    font-size: 8px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;

    .box {
      display: inline-block;
      border: 1px solid #555;
      padding: 0;
      margin: auto 0 auto 1px;
      width: 8px;
      height: 8px;
      -webkit-transition: .3s;
      transition: .3s;
    }

    .flip-left-side {
      border-right: 1px dotted #555;
      display: inline-block;
      padding-right: 6px;
      margin-right: 3px;
      .box {
        background-color: #555;
      }
    }

    .flip-right-side {
      display: inline-block;
      .box {
        background-color: transparent;
      }
    }

    &:hover {
      .flip-left-side {
        .box {
          background-color: transparent;
        }
      }
      .flip-right-side {
        .box {
          background-color: rgba(85, 85, 85, 0.5);
        }
      }
    }
  }

  .switchInput:checked + .flip-button {
    .flip-left-side {
      .box {
        background-color: transparent;
      }
    }

    .flip-right-side {
      .box {
        background-color: #555;
      }
    }

    &:hover {
      .flip-left-side {
        .box {
          background-color: rgba(85, 85, 85, 0.5);
        }
      }
      .flip-right-side {
        .box {
          background-color: transparent;
        }
      }
    }
  }

  .card {
    border: none;
    box-shadow: none;
  }

  .reader-content-header {
    border-bottom: none;
  }

  .uncharted-thumbnails-thumbnail .card-content-container {
    padding-left: 10px;
    left: -10px;
  }

  .container {
    width: 100%;

    &.border-style {
      .uncharted-thumbnails-thumbnail .card-content-container {
        padding-left: 12px;
        left: -12px;
      }

      .card {
        border: $thumbnail-card-border;
        box-shadow: none;
      }
    }

    &.shadow-style {
      .card {
        border: none;
        box-shadow: $thumbnail-card-shadow;
      }
    }

    .uncharted-thumbnails.inline-mode {
      margin-left: 0;
      margin-right: 0;
    }

    &.disable-back-card-title {
      .uncharted-thumbnails-thumbnail .meta-data-content .title-box {
        display: none;
      }
    }

    &.disable-back-card-subtitle {
      .uncharted-thumbnails-thumbnail .meta-data-content .meta-line {
        &.subtitle
        {
          display: none;
        }
      }
    }
  }

  &.enable-flipping {
    .container {
      top: 22px;
    }

    .switch {
      display: block;
    }
  }
}

.fix-blur-hack {
  // make thumbnails clean crisp
  .uncharted-thumbnails-thumbnail.flip-container {
    .front,
    .back {
      backface-visibility: unset;
      transform: none;
    }
    .flipper.flipped {
      transition: none;
      transform: none;
      .front {
        z-index: 0;
      }
      .back {
        z-index: 2;
      }
    }
  }

  &.animating {
    .switch {
      pointer-events: none;
    }
  }

  // Flipping animation
  &.animating .uncharted-thumbnails-thumbnail.flip-container {
    perspective: 1000px;
    .flipper {
      transition: $thumbnail-flipping-animation-duration;
      transform-style: preserve-3d;
      &.flipped {
        transform: rotateY(180deg);
      }
    }
    .front,
    .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    .front {
      z-index: 2;
      transform: rotateY(0deg);
    }
    .back {
      transform: rotateY(180deg);
    }
  }

  &.animating.cards-flipped .uncharted-thumbnails-thumbnail.flip-container {
    .flipper.flipped {
      transition: 0s;
    }
  }
}