@import url("https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css");
@import "../lib/@uncharted/cards/src/main.scss";

.visual-container {
    height: 100%;
}

.reader-holder { overflow: auto; }