@import url("https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css");

$thumbnail-card-border-width: 0px;
$thumbnail-card-shadow: -1px 0 0 rgba(0,0,0,.12), 0 0 2px rgba(0,0,0,.12), 2px 0 4px rgba(0,0,0,.24);
$thumbnail-flipping-animation-duration: 0.3s;

@import "../lib/@uncharted/cards/src/main.scss";

.uncharted-thumbnails-header-image .mirror-image-box .image {
  right: 6px;
}

.visual-CardBrowser8D7CFFDA2E7E400C9474F41B9EDBBA58 {
  padding: 0 !important;
}

.visual .uncharted-thumbnails-style {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active
  {
    background: rgba(0, 0, 0, 0.5);
  }

  -ms-overflow-style: -ms-autohiding-scrollbar;

  a {
    text-decoration: none;
    color: #2C83C0;
  }

  padding-left: 0;
  padding-right: 0;
}

.uncharted-thumbnails-header-image {
  overflow: hidden
}

.uncharted-thumbnails-thumbnail .card {
  position: relative;
}

.visual-container {
  height: 100%;
  width: 100%;

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .flip-panel {
    position: absolute;
    height: 22px;
    top: 0;
    width: 100%;
  }

  /* The switch - the box around the slider */
  .switch {
    border: none;
    cursor: pointer;
    display: none;
    margin: 0 auto 0 auto;
    width: 64px;
    z-index: 1;
  }

  /* The button */
  .flip-button {
    display: inline;
    position: relative;
    font-size: 8px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;

    .box {
      display: inline-block;
      border: 1px solid #555;
      padding: 0;
      margin: auto 0 auto 1px;
      width: 8px;
      height: 8px;
      -webkit-transition: .3s;
      transition: .3s;
    }

    /* Hide default HTML checkbox */
    input[type="radio"] {
      display:none;
    }

    input[type="radio"] + label {
      cursor: pointer;
      .box {
        background-color: transparent;
      }
      &:hover {
        .box {
          background-color: rgba(85, 85, 85, 0.5);
        }
      }
    }

    input[type="radio"]:checked + label {
      .box {
        background-color: #555;
      }
      &:hover {
        .box {
          background-color: #555;
        }
      }
    }

    .flip-button-input {

    }

    .flip-left-side {
      border-right: 1px dotted #555;
      display: inline-block;
      padding-right: 6px;
      margin-right: 3px;
    }

    .flip-right-side {
      display: inline-block;
    }
  }

  .reader-content-header .header-source-link-box {
    width: initial;
    min-width: 170px;
    max-width: 50%;
  }

  .container {
    width: 100%;

    .uncharted-thumbnails.inline-mode {
      margin-left: 0;
      margin-right: 0;
    }

    &.disable-back-card-title {
      .uncharted-thumbnails-thumbnail .meta-data-content .title-box {
        display: none;
      }
    }

    &.disable-back-card-subtitle {
      .uncharted-thumbnails-thumbnail .meta-data-content .meta-line {
        &.subtitle
        {
          display: none;
        }
      }
    }

    .reader-content-header {
      border-bottom: none;
      .close-button {
        margin-right: 4px;
        color: #404040;
        &:hover {
          color: #707070;
          i {
            color: #707070;
          }
        }
      }
    }

    &.lightButton {
      .reader-content-header {
        .close-button {
          color: #C0C0C0;
          &:hover {
            color: #909090;
            i {
              color: #909090;
            }
          }
        }
      }
    }
  }

  &.enable-flipping {
    .container {
      top: 22px;
    }

    .switch {
      display: block;
    }
  }
}

.fix-blur-hack {
  // make thumbnails clean crisp
  .uncharted-thumbnails-thumbnail.flip-container {
    .flipper {
      .front,
      .back {
        backface-visibility: unset;
        transform: none;
      }
      .front {
        visibility: visible;
      }
      .back {
        visibility: hidden;
      }
      &.flipped {
        transition: none;
        transform: none;
        .front {
          visibility: hidden;
        }
        .back {
          visibility: visible;
        }
      }
    }
  }

  &.animating {
    .switch {
      pointer-events: none;
    }
  }

  // Flipping animation
  &.animating .uncharted-thumbnails-thumbnail.flip-container {
    perspective: 1000px;
    .flipper {
      transition: $thumbnail-flipping-animation-duration;
      transform-style: preserve-3d;
      &.flipped {
        transform: rotateY(180deg);
      }
      .front {
        transform: rotateY(0deg);
      }
      .back {
        transform: rotateY(180deg);
      }
      .front,
      .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        visibility: visible;
      }
    }
    &.expanded {
      .flipper {
        transition: none !important;
      }
    }
  }

  &.animating.cards-flipped .uncharted-thumbnails-thumbnail.flip-container {
    .flipper.flipped {
      transition: 0s;
    }
  }
}