@import url("https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css");

$thumbnail-height: 300px;
$thumbnail-card-shadow: -1px 0 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 2px 0 4px rgba(0, 0, 0, 0.24);

@import "../lib/@uncharted/cards/src/main.scss";

.visual .uncharted-thumbnails-style {
  a {
    text-decoration: none;
    color: #2C83C0;
  }
}

.visual-container {
  height: 100%;

  .card {
    border: none;
    box-shadow: none;

    &.shadow-style {
      border: none;
      box-shadow: $thumbnail-card-shadow;
    }
  }

  .reader-content-header {
    border-bottom: none;
  }

  .uncharted-thumbnails-thumbnail .card-content-container {
    padding-left: 10px;
    left: -10px;
  }

  &.border-style {
    .uncharted-thumbnails-thumbnail .card-content-container {
      padding-left: 12px;
      left: -12px;
    }

    .card {
      border: $thumbnail-card-border;
      box-shadow: none;
    }

    .reader-content-header {
      border-bottom: solid 1px #e9e9e9;
    }
  }

  &.shadow-style {
    .card {
      border: none;
      box-shadow: $thumbnail-card-shadow;
    }

    .reader-content-header {
      border-bottom: solid 1px #e9e9e9;
    }
  }

  .uncharted-thumbnails.inline-mode {
    padding-bottom: 10px;
  }

  .flip-cards {
    background-color: #fff;
    border: $thumbnail-card-border;
    box-shadow: none;
    cursor: pointer;
    display: none;
    font-size: 16px;
    height: 16px;
    left: 0;
    margin-left: 4px;
    padding: 4px;
    position: absolute;
    top: 4px;
    width: 16px;
    z-index: 1;

    &:hover {
      border: 1px solid #ccc;
    }
  }

  &.enable-flipping {
    .flip-cards {
      display: block;
    }

    .uncharted-thumbnails.inline-mode {
      margin-left: 17px;
    }
  }

  &.disable-back-card-title {
    .uncharted-thumbnails-thumbnail .meta-data-content .title-box {
      display: none;
    }
  }

  &.disable-back-card-author {
    .uncharted-thumbnails-thumbnail .meta-data-content .meta-line li {
      &:before,
      &.author
      {
        display: none;
      }
    }
  }

  &.disable-back-card-date {
    .uncharted-thumbnails-thumbnail .meta-data-content .meta-line li {
      &:before,
      &.time
      {
        display: none;
      }
    }
  }
}

.fix-blur-hack {
  // make thumbnails clean crisp
  .uncharted-thumbnails-thumbnail.flip-container {
    .front,
    .back {
      backface-visibility: unset;
      transform: none;
    }
    .flipper.flipped {
      transition: none;
      transform: none;
      .front {
        z-index: 0;
      }
      .back {
        z-index: 2;
      }
    }
  }

  &.animating {
    .flip-cards {
      pointer-events: none;
    }
  }

  &.animating .uncharted-thumbnails-thumbnail.flip-container {
    .front,
    .back {
      backface-visibility: hidden;
    }
    .front {
      transform: rotateY(0deg);
    }
    .back {
      transform: rotateY(180deg);
    }
    .flipper {
      transition: 0.6s;
    }
    .flipper.flipped {
      transform: rotateY(180deg);
      .front {
        z-index: 2;
      }
      .back {
        z-index: 0;
      }
    }
  }

  &.animating.cards-flipped .uncharted-thumbnails-thumbnail.flip-container {
    .flipper.flipped {
      transition: 0s;
    }
  }
}