@import url("https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css");

$thumbnail-height: 300px;

@import "../lib/@uncharted/cards/src/main.scss";

.visual .uncharted-thumbnails-style {
    a {
        text-decoration: none;
        color: #2C83C0;
    }
}

.visual-container {
    height: 100%;
    .flip-cards {
        position: absolute;
        z-index: 1;
        display: none;
    }
    &.enable-flipping {
        .flip-cards {
            display: block;
        }
    }
}


.uncharted-thumbnails.inline-mode {
    padding-bottom: 10px;
}

.fix-blur-hack {
    // make thumbnails clean crisp
    .uncharted-thumbnails-thumbnail.flip-container {
        .front,
        .back {
            backface-visibility: unset;
            transform: none;
        }
        .flipper.flipped {
            transition: none;
            transform: none;
            .front {
                z-index: 0;
            }
            .back {
                z-index: 2;
            }
        }
    } 

    &.animating {
        .flip-cards {
            pointer-events: none;
        }
    }

    &.animating .uncharted-thumbnails-thumbnail.flip-container {
        .front,
        .back {
            backface-visibility: hidden;
        }
        .front {
            transform: rotateY(0deg);
        }
        .back {
            transform: rotateY(180deg);
        }
        .flipper {
            transition: 0.6s;
            pointer-events: none;
        }
        .flipper.flipped {
            transform: rotateY(180deg);
            .front {
                z-index: 2;
            }
            .back {
                z-index: 0;
            }
        }
    }
}