<div class="visual-container {{#if isDesktop}} flip-container {{/if}}">
    {{#unless disableFlipping}}
    <i class="fa fa-superpowers flip-cards" aria-hidden="true" title="Show card meta data"></i>
    {{/unless}}
</div>