<div class="visual-container {{#if isDesktop}} fix-blur-hack {{/if}}">
    <label class="switch">
        <input type="checkbox" class="switchInput">
        <span class="slider">
            <i class="fa fa-square-o" aria-hidden="true" title="Show card meta data"></i>
            <i class="fa fa-square-o" aria-hidden="true" title="Show card meta data"></i>
            <i class="fa fa-square-o" aria-hidden="true" title="Show card meta data"></i>
        </span>
    </label>
</div>