<div class='visual-container'>
    <div class="flip-panel">
        <label class="switch">
            <input type="checkbox" class="switchInput">
            <div class="flip-button">
                <div class="flip-left-side">
                    <div class="box" aria-hidden="true"></div>
                    <div class="box" aria-hidden="true"></div>
                </div>
                <div class="flip-right-side">
                    <div class="box" aria-hidden="true"></div>
                    <div class="box" aria-hidden="true"></div>
                </div>
            </div>
        </label>
    </div>
    <div class="container {{#if isDesktop}} fix-blur-hack {{/if}}"></div>
</div>