<div class="visual-container {{#if isDesktop}} fix-blur-hack {{/if}}">
    <label class="switch">
        <input type="checkbox" class="switchInput">
        <div class="slider">
            <div class="flip-left-side">
                <div class="box" aria-hidden="true"></div>
                <div class="box" aria-hidden="true"></div>
            </div>
            <div class="flip-right-side">
                <div class="box" aria-hidden="true"></div>
                <div class="box" aria-hidden="true"></div>
            </div>
        </div>
    </label>
</div>