{{!-- 
/*
 * Copyright 2018 Uncharted Software Inc.
 */
 --}}

<div class="uncharted-cards-vertical-reader" tabindex="1">
    <div class="marker"></div>
    <div class="reader-page-button reader-prev-button">
        <i class="fa fa-left fa-chevron-left"></i>
    </div>
    <div class="reader-content-container">
    </div>
    <div class="reader-page-button reader-next-button">
        <i class="fa fa-left fa-chevron-right"></i>
    </div>
</div>
