<div class="uncharted-thumbnails-style uncharted-thumbnails viewport">
    <div class="thumbnails-container">
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
        <div class="dummy-thumbnail"></div>
    </div>
</div>